.dropdown-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300%; /* Đặt chiều rộng tự động bằng với phần tử cha (header) */
    position: absolute; /* Đảm bảo dropdown không bị ảnh hưởng bởi layout của các phần tử khác */
    left: 0; /* Đặt dropdown căn trái để rộng bằng với phần tử cha */
}

.dropdown-item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    gap: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-bottom: 1px solid #f0f0f0;
}

.dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-item:hover {
    background-color: #f4f4f4;
}

.dropdown-image {
    width: 120px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}

.dropdown-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
